In [1]:
import pandas as pd

In [2]:
gt_data = pd.read_csv("../data/ground_truth.txt", header=None)
pred_data = pd.read_csv("../data/detected_centLocs.csv")

In [3]:
gt_data.columns = ['frame', 'id', 'x', 'z', 'y']
pred_data.columns = ['frame', 'id', 'x', 'y']

In [4]:
pred_data

      frame    id         x         y
0         1  2621 -0.006936  0.025777
1         1  1543 -0.007307  0.028981
2         1  2622 -0.007240  0.026406
3         1   333 -0.007118  0.036660
4         1  4665 -0.006997  0.037185
...     ...   ...       ...       ...
3722     20  1452  0.007291  0.031908
3723     20  2199  0.007385  0.024724
3724     20     0  0.007372  0.035110
3725     20  2199  0.007482  0.024615
3726     20     0  0.007485  0.035303

[3727 rows x 4 columns]

In [5]:
gt_data.describe()

             frame           id            x       z            y
count  6451.000000  6451.000000  6451.000000  6451.0  6451.000000
mean      9.989924  3162.071927    -0.000034     0.0     0.030206
std       6.042977  1597.486627     0.004313     0.0     0.003779
min       0.000000   274.000000    -0.007500     0.0     0.022502
25%       5.000000  1487.000000    -0.003819     0.0     0.027280
50%      10.000000  3177.000000     0.000148     0.0     0.030498
75%      15.000000  4776.000000     0.003551     0.0     0.033073
max      20.000000  5115.000000     0.007498     0.0     0.037499

In [8]:
def get_id_map(df):
    id_map = {}
    id_counter = {}

    for row in df.iterrows():
        idx = row[1]['id']
        frame = row[1]['frame']
        if idx not in id_map:
            id_map[idx] = [frame]
            id_counter[idx] = 1
        else:
            id_map[idx].append(frame)
            id_counter[idx] += 1
    id_counter = {k:v for k, v in sorted(id_counter.items(), key=lambda item: item[1])}
    return id_map, id_counter

In [9]:
pred_id_map, pred_id_counter = get_id_map(pred_data)

In [10]:
pred_id_counter

{2363.0: 1,
 1414.0: 1,
 4769.0: 1,
 4756.0: 1,
 4456.0: 1,
 1451.0: 1,
 407.0: 1,
 4969.0: 1,
 5113.0: 1,
 2627.0: 1,
 874.0: 1,
 1079.0: 2,
 4782.0: 2,
 2623.0: 2,
 4122.0: 2,
 4972.0: 2,
 3605.0: 2,
 4762.0: 3,
 431.0: 3,
 971.0: 3,
 4795.0: 3,
 467.0: 3,
 421.0: 3,
 4765.0: 3,
 4789.0: 3,
 4963.0: 3,
 2534.0: 3,
 3846.0: 3,
 3990.0: 3,
 2620.0: 3,
 4775.0: 3,
 3682.0: 4,
 2586.0: 4,
 2615.0: 4,
 4771.0: 4,
 4797.0: 4,
 2604.0: 4,
 2618.0: 5,
 2579.0: 5,
 3760.0: 5,
 4794.0: 5,
 1216.0: 5,
 4433.0: 5,
 1659.0: 5,
 4807.0: 5,
 3683.0: 5,
 1356.0: 5,
 4965.0: 5,
 3763.0: 5,
 2630.0: 5,
 4754.0: 5,
 3916.0: 5,
 4966.0: 5,
 4974.0: 5,
 2597.0: 6,
 852.0: 6,
 412.0: 6,
 2364.0: 6,
 4607.0: 6,
 4796.0: 6,
 436.0: 6,
 4949.0: 6,
 4751.0: 6,
 4790.0: 7,
 414.0: 7,
 2558.0: 7,
 1445.0: 7,
 1400.0: 7,
 2225.0: 7,
 2581.0: 7,
 1478.0: 7,
 4874.0: 7,
 455.0: 7,
 333.0: 8,
 4327.0: 8,
 4964.0: 8,
 4957.0: 8,
 4952.0: 8,
 2601.0: 8,
 5108.0: 8,
 3847.0: 8,
 2602.0: 8,
 2571.0: 9,
 1075.0: 9,
 4973.0: 9,
 839.0: 9,
 4608.0: 9,
 4457.0: 9,
 1372.0: 9,
 4945.0: 9,
 4326.0: 9,
 2242.0: 9,
 1476.0: 9,
 2590.0: 9,
 2616.0: 9,
 434.0: 9,
 383.0: 9,
 849.0: 9,
 1404.0: 9,
 4970.0: 9,
 3911.0: 10,
 2599.0: 10,
 4793.0: 10,
 3177.0: 10,
 3187.0: 10,
 2619.0: 10,
 3762.0: 10,
 4761.0: 10,
 3844.0: 10,
 2593.0: 11,
 1728.0: 11,
 4792.0: 11,
 3029.0: 11,
 3578.0: 11,
 4328.0: 11,
 4898.0: 11,
 4883.0: 11,
 3592.0: 11,
 3845.0: 11,
 3761.0: 11,
 4448.0: 11,
 5109.0: 11,
 2603.0: 12,
 2588.0: 12,
 382.0: 12,
 5110.0: 12,
 1449.0: 12,
 3181.0: 12,
 378.0: 12,
 3917.0: 12,
 3175.0: 12,
 2628.0: 12,
 1018.0: 12,
 4332.0: 12,
 2600.0: 13,
 4760.0: 13,
 1500.0: 13,
 1227.0: 13,
 4971.0: 13,
 5106.0: 13,
 4610.0: 13,
 1428.0: 13,
 3684.0: 13,
 4322.0: 13,
 444.0: 13,
 2578.0: 13,
 4779.0: 13,
 2629.0: 13,
 2577.0: 13,
 5107.0: 14,
 5114.0: 14,
 441.0: 14,
 4784.0: 14,
 451.0: 14,
 2553.0: 14,
 2613.0: 15,
 3912.0: 15,
 3124.0: 15,
 3035.0: 15,
 4763.0: 15,
 353.0: 15,
 3989.0: 15,
 1443.0: 15,
 2621.0: 16,
 2589.0: 16,
 362.0: 16,
 1392.0: 16,
 4644.0: 16,
 4962.0: 16,
 1469.0: 16,
 3817.0: 16,
 863.0: 16,
 427.0: 16,
 4967.0: 16,
 1806.0: 16,
 447.0: 17,
 2595.0: 17,
 4766.0: 17,
 4609.0: 17,
 1471.0: 17,
 4942.0: 17,
 4330.0: 17,
 4778.0: 17,
 865.0: 17,
 4831.0: 17,
 5100.0: 17,
 4757.0: 18,
 1491.0: 18,
 4702.0: 18,
 4959.0: 18,
 4981.0: 18,
 4453.0: 18,
 2261.0: 18,
 2605.0: 18,
 424.0: 18,
 2622.0: 19,
 2611.0: 19,
 2591.0: 19,
 4783.0: 19,
 4791.0: 19,
 445.0: 19,
 4331.0: 19,
 4946.0: 19,
 4951.0: 19,
 4947.0: 19,
 1452.0: 19,
 4314.0: 19,
 4665.0: 20,
 2325.0: 20,
 5018.0: 20,
 2608.0: 20,
 4679.0: 20,
 2598.0: 20,
 820.0: 20,
 1458.0: 20,
 1150.0: 20,
 2511.0: 20,
 3913.0: 20,
 810.0: 20,
 1019.0: 20,
 3914.0: 20,
 5105.0: 20,
 2471.0: 20,
 1151.0: 20,
 3915.0: 20,
 1232.0: 20,
 5104.0: 20,
 1165.0: 20,
 4777.0: 20,
 398.0: 20,
 4716.0: 20,
 5111.0: 20,
 5091.0: 20,
 4728.0: 20,
 2557.0: 20,
 4954.0: 20,
 4788.0: 20,
 4950.0: 20,
 4119.0: 20,
 2532.0: 20,
 1487.0: 20,
 4995.0: 20,
 1238.0: 20,
 1196.0: 20,
 1341.0: 20,
 3217.0: 20,
 1101.0: 20,
 4292.0: 20,
 3812.0: 20,
 4324.0: 20,
 1308.0: 20,
 1342.0: 20,
 2724.0: 20,
 2626.0: 20,
 1418.0: 20,
 1543.0: 21,
 2576.0: 21,
 2554.0: 21,
 1363.0: 21,
 4776.0: 21,
 3117.0: 21,
 3016.0: 21,
 4960.0: 21,
 3597.0: 21,
 3826.0: 21,
 274.0: 22,
 4961.0: 22,
 1333.0: 22,
 4417.0: 22,
 2199.0: 22,
 1504.0: 23,
 2569.0: 23,
 834.0: 23,
 4786.0: 23,
 4943.0: 23,
 4953.0: 23,
 2573.0: 24,
 0.0: 208}

In [7]:
data = pd.read_csv("../data/detected_centLocs.csv")

In [3]:
data.head()

   frame  GTID         x         y
0      1  2621 -0.006936  0.025777
1      1  1543 -0.007307  0.028981
2      1  2622 -0.007240  0.026406
3      1   333 -0.007118  0.036660
4      1  4665 -0.006997  0.037185

In [4]:
def transform(df):
    df['x'] = 256+(df["x"] * 1000)*512/16 - 4
    df['y'] = 256 - (30- df["y"]*1000)*512/16 -4
    return df
data = transform(data)

In [5]:
data

      frame  GTID           x           y
0         1  2621   30.044864  116.855776
1         1  1543   18.174560  219.381472
2         1  2622   20.317312  137.000000
3         1   333   24.232128  465.124992
4         1  4665   28.104160  481.916672
...     ...   ...         ...         ...
3722     20  1452  485.320320  313.054688
3723     20  2199  488.328128   83.171872
3724     20     0  487.919104  415.511040
3725     20  2199  491.437504   79.687488
3726     20     0  491.531264  421.687488

[3727 rows x 4 columns]

In [6]:
data['x1'] = data['x'] - 5
data['y1'] = data['y'] - 5
data['x2'] = data['x'] + 5
data['y2'] = data['y'] + 5
data['score'] = 1.0

In [7]:
data.head(1)

,frame,GTID,x,y,x1,y1,x2,y2,score
0,1,2621,30.044864,116.855776,25.044864,111.855776,35.044864,121.855776,1.0

In [12]:
# !pip install -r sort/requirements.txt

In [14]:
from sort.sort import Sort

ModuleNotFoundError: No module named 'filterpy'

In [ ]:
def get_detections(df):
    coords = []

In [ ]:
mot_tracker = Sort() 
track_bbs_ids = mot_tracker.update(detections)

In [ ]:
# import matplotlib.pyplot as plt
# import matplotlib.patches as patches
# from PIL import Image

# im = Image.open('../data/frames/frame1.jpg')

# # Create figure and axes
# fig, ax = plt.subplots()
# centroid_x = 200
# centroid_y = 200
# xwidth = 50
# ywidth = 100

# # Display the image
# ax.imshow(im)

# # Create a Rectangle patch
# # rect = patches.Rectangle((50, 100), 40, 30, linewidth=1, edgecolor='r', facecolor='none')
# # 25.044864	111.855776	35.044864	121.855776	1.0
# # rect = patches.Rectangle((25, 111), 10, 10, linewidth=1, edgecolor='r', facecolor='none')
# rect = patches.Rectangle((centroid_x - xwidth/2, centroid_y - ywidth/2), xwidth, ywidth, linewidth=1, edgecolor='r', facecolor='none')
# # rect = patches.Rectangle((200, 200), 50, 100, linewidth=1, edgecolor='r', facecolor='none')

# # ((centroid_x - xwidth/2, centrod_y - ywidth/2), xwidth, ywidth


# # Add the patch to the Axes
# ax.add_patch(rect)

# plt.show()

In [ ]:
# track_bbs_ids = mot_tracker.update(detections)

In [ ]:
# here CCCx and CCCz are the pixel idx values. to convert into the units that the ground truth coordinates are in I used the following:
# CCCx = px.dx*CCCentroids(:,1) + px.mapX(1);
# CCCz = px.dz*CCCentroids(:,2) + px.mapZ(1);
# Saket Sripada10:24 PM
# px_dx = px_dy = 2.9296875e-05

# x = px_dx*CCCentroids(:,1) + px_mapX(1);
# z = px_dz*CCCentroids(:,2) + px_mapZ(1);
# here CCCx and CCCz are the pixel idx values. to convert into the units that the ground truth coordinates are in I used the above.
# So to go from ground truth coordinate units to pixel_idx, you might try to do the inverse as:
# CX_img = ( -px_mapX(1) + x_gt ) / px_dx
# CZ_img = ( -px_mapZ(1) + z_gt ) / px_dz

In [ ]:
px_dx = px_dy = 2.9296875e-05

x = px_dx*CCCentroids(:,1) + px_mapX(1);
z = px_dz*CCCentroids(:,2) + px_mapZ(1);
here CCCx and CCCz are the pixel idx values. to convert into the units that the ground truth coordinates are in I used the above.
So to go from ground truth coordinate units to pixel_idx, you might try to do the inverse as:
CX_img = ( -px_mapX(1) + x_gt ) / px_dx
CZ_img = ( -px_mapZ(1) + z_gt ) / px_dz